{
    "semi": true,
    "printWidth": 150,
    "tabWidth": 4,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "singleQuote": true,
    "trailingComma": "all",
    "proseWrap": "preserve"
}
